:root {
    font-family: 'Raleway', sans-serif;
    interpolate-size: allow-keywords;

    --bg-base: oklch(0.9712 0.0356 89.44);
    --bg: oklch(0.9383 0.0439 89.89);
    --border-color: #ccc;
    --linkedin-color: oklch(0.5 0.1 250.73);
    --github-color: oklch(0.4 0 0);
    
    --gray-light: #ddd;
    --gray-med: #bbb;
    --gray: gray;

    --dark: #222;

    --code-bg: #eaeaea;

    --scrollbar-track-color: oklch(0.9 0.05 89.89);
    --scrollbar-thumb-color: oklch(0.8 0.05 89.89);
    --scrollbar-thumb-hover-color: oklch(0.7 0.05 89.89);
    --scrollbar-thumb-border-color: #888;

}

:root.dark {
    --bg-base: radial-gradient(circle, #0b1b31 0%, oklch(0.1463 0.0397 248.39) 100%);
    --bg: #071221;
    --border-color: #333;
    --linkedin-color: oklch(0.7 0.1 250.73);
    --github-color: oklch(0.8 0 0);
    
    --gray-light: #ccc;
    --gray-med: #bbb;
    --gray: gray;

    --dark: #ddd;

    --scrollbar-track-color: transparent;
    --scrollbar-thumb-color: oklch(0.2 0.0397 248.39);
    --scrollbar-thumb-hover-color: oklch(0.3 0.0397 248.39);
    --scrollbar-thumb-border-color: oklch(0.5 0.0397 248.39);

    --code-bg: #222;

    color:#eee;
}

/* hero section */

section#hero {
    height: 100vh;
}

#hero div.img-container {
    aspect-ratio: 1;
    border-radius:100%;
    height:unset;
    width:50%;
    max-width: 600px;

    overflow: hidden;
}

.dark #hero div.img-container {
    box-shadow: 0 0 3rem #fff4;
}

#hero img {
    aspect-ratio: 1;
    object-fit:cover;
    /* border-radius:100%; */
    height:unset;
    width:100%;
}

#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding:3rem;
    gap: 3rem;
}

#hero .name {
    color: oklch(0.7367 0.153 157.56);
}

html:not(.dark) #hero .name {
    color: oklch(0.65 0.17 250);
}

#hero h1 {
    margin: 0;
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    margin-top: 3rem;
    font-weight: 750;
}

#hero p.flavortext {
    font-size:clamp(1rem,3vw,1.5rem);
    margin-top: 0.5rem;
}

#hero div.links {
    display: flex;
    flex-direction:row;
    gap:1rem;
}

#hero div.links a {
    font-size: 2rem;
    color:var(--base-color);

    &:hover {
        color: oklch(from var(--base-color) calc(l - 0.1) c h)
    }
}

#hero div.links a.linkedin-link {
    --base-color:var(--linkedin-color);
}

#hero div.links a.github-link {
    --base-color: var(--github-color);
}

#hero div.links a span {
    display: none;
}

@media screen and (max-width: 600px) {
    #hero {
        flex-direction: column-reverse;
        gap: 0;
    }

    #hero h1 {
        font-size: 4rem;
        margin-top: 0;
    }

    #hero div.img-container {
        height: 50%;
        width: unset;
    }
}

body {
    margin:0;
    padding:0;
    background: var(--bg-base);
}

section {
    max-width: 100ch;
    border: 1px solid var(--border-color);
    border-top:none;
    padding:2rem;
    margin-inline:auto;
    background: var(--bg);
    box-sizing: border-box;
}

html.dark section {
    background: color-mix(in oklab, transparent 50%, var(--bg) 50%)
}

h2 {
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
    font-size: 3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: var(--code-bg);
    display: inline-block;
}

html:not(.dark) h2 {
    border: 0.5px solid gray;
}

#projects .projects-list {
    display: flex;
    flex-direction:row;
    gap:1rem;
    overflow-x: scroll;
    overflow-y: clip;

    &::-webkit-scrollbar {
        height:8px;
        width:8px;
    }

    &::-webkit-scrollbar-track {
        background:var(--scrollbar-track-color);
    }

    &::-webkit-scrollbar-thumb {
        background:var(--scrollbar-thumb-color);
        border-radius: 10px;
        box-sizing: border-box;
        border:1px solid var(--scrollbar-thumb-border-color);
    }

    &::-webkit-scrollbar-thumb:hover {
        background:var(--scrollbar-thumb-hover-color);
        border:0.5px solid var(--dark);
    }
}

#projects .projects-list.expanded {
    overflow: visible;
    --cols: 1;
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    /* flex-wrap: wrap; */

    height: auto;
    max-height: none;
}

#projects .project, #projects .expand-projects {
    display: block;
    border: 0.5px solid var(--dark);
    padding:1rem;
    border-radius: calc(1rem + 0.5px);
    background: oklch(0.93 0.0439 89.89);
    box-shadow: inset 0 0 0.5rem #aaa8;

    min-width:250px;
    aspect-ratio: 1;
    position: relative;

    cursor: pointer;
    margin-bottom:.25rem;

    overflow: hidden;
}

#projects .projects-list.expanded .project, #projects .projects-list.expanded .expand-projects {
    min-width: 150px;
}

#projects .projects-list:not(.expanded) .project.min {
    display: none;
}

#projects .expand-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: oklch(from var(--bg) calc(l + 0.05) c h);

    &:hover {
        background: oklch(from var(--bg) calc(l + 0.1) c h);
    }
}

#projects .projects-list .expand-projects i.arrow {
    font-size: 4rem;
    transform: rotate(0);

    transition: transform 500ms;
}

#projects .projects-list.expanded .expand-projects i.arrow {
    transform: rotate(-180deg);
}

#projects .expand-projects i:not(.arrow) {
    color: var(--gray);
}

#projects .project div.info {
    position: absolute;
    z-index:1;
    width:100%;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(0deg,black 0%, transparent 100%);
    padding:1rem;
    box-sizing:border-box;

    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;

    color:#eee;
}

#projects .project div.info::before {
    content:"";
    display:block;
    position:absolute;
    backdrop-filter: blur(1rem);
    mask:linear-gradient(transparent 0%, black 70%);
    -webkit-mask:linear-gradient(transparent 0%, black 70%);
    height: 200%;
    /* background:red; */
    bottom:0;
    left:0;
    right:0;
    z-index:-1;

    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

#projects .project div.info h3 {
    font-size: 3rem;
    text-align: center;
}

#projects .project div.info h3.word-hunter {
    font-size: 2.5rem;
}

#projects .project div.info h3.physics-sandbox {
    font-size: 2.5rem;
}

#projects .project div.info h3.powerschoolplusplus {
    font-size: 2.25rem;
}

#projects .project div.info p {
    height:0;
    opacity:0;
    margin:0;
    transition: height 200ms, opacity 200ms, margin 200ms;
}

#projects .project:hover div.info p {
    height:auto;
    opacity:1;
    margin-block: 0.5rem ;
}

#projects .project img {
    position:absolute;
    height: unset;
    inset:0;
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:1rem;
}

h3 {
    margin:0;
}

#projects .project div.links {
    position: absolute;
    top:1rem;
    right:1rem;
    /* background:red; */
    z-index: 1;

    transition: top 250ms, transform 250ms;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    transform: scale(1);
}

#projects .project div.links a {
    background:var(--gray-light);
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    box-sizing: border;
    padding:0.5rem;
    width: 1rem;
    height: 1rem;

    border: 2px solid var(--gray);
    border-radius:0.5rem;
    box-shadow: 0 2px var(--gray), 0 0 2rem black;

    &:hover {
        background: var(--gray-med);
    }

    position: relative;
    top:0;

    &:active {
        top: 2px;
        box-shadow: 0 0 var(--gray);
    }
}

#projects .project div.links span {
    display: none;
    /* Really just exists for accessibility / semantic correctness */
}

#projects .project:not(:hover) div.links {
    top:-4rem;
    transform:scale(0);
}

@keyframes spook {
    0% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(-2px);
    }
}

.spooky {
    animation-name: spook;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    display: inline-block;
}

#about code.social {
    background: var(--code-bg);
    padding:0.25rem;
    font-size: 0.75rem;
    border: 0.5px solid #ccca;
    border-radius: 0.25rem;
}

button.switch-color-mode {
    position: absolute;
    top:1rem;
    right:1rem;

    width: 2rem;
    height: 2rem;

    border: none;
    border-radius: 0.5rem;

    border:2px solid var(--gray);
    box-shadow: 0 2px var(--gray);

    background: var(--gray-light);

    &:hover {
        background: var(--gray-med);
        cursor: pointer;
    }

    &:active {
        transform: translateY(2px);
        box-shadow: 0 0 var(--gray);
    }
}

button.switch-color-mode i.light {
    display: block;
}

.dark button.switch-color-mode i.light {
    display: none;
}

button.switch-color-mode i.dark {
    display: none;
}

.dark button.switch-color-mode i.dark {
    display: block;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer a {
    text-decoration: none;

    color: var(--dark);
}

footer a span {
    display: none;
}

#about p {
    font-size: 1.25rem;
}